LOGGER_LEVEL=

HTTP_SERVER_PORT=
HTTP_SERVER_SHUTDOWN_TIMEOUT=

JWT_ACCESS_EXP=
JWT_REFRESH_EXP=
JWT_ISS=
JWT_AUD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=
POSTGRES_PORT=

UID=
GID=

WEBSOCKET_HUB_READ_BUFFER_SIZE=
WEBSOCKET_HUB_WRITE_BUFFER_SIZE=
WEBSOCKET_HUB_SAVE_BUFFER_SIZE=
WEBSOCKET_HUB_CLIENT_SEND_BUFFER_SIZE=